# Python temporary file
*.pyc
__pycache__/
.cache/

# Python package
dist/

# PyCharm files
.idea/

# VSCode files
.vscode/

# Vim temporary files
*.swp
*.swo

# Pyenv files
.python-version

# Mypy files
.mypy_cache/

# Pytest files
.pytest_cache/
pytest_results/

# Coverage files
.coverage
coverage.xml
